{% load static %}
{% load django_bootstrap5 %}
<html>

<head>
  <meta charset="utf-8">
  <title>Djangoスニペット</title>
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% csrf_token %}
  <link rel="stylesheet" href="{% static 'snippets/css/style.css' %}">
  {% block extraheader %}{% endblock %}
  <script src="{% static 'sssauth/js/sssAuth.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script>  
    function requestToken() {
      if (typeof window.SSS !== 'undefined') {
        checkSSS(function (loggedIn) {
          if (!loggedIn) {
            alert("Please allow thin page in SSS")
          } else {
            var login_url = '{% url 'sssauth:sssauth_login_api' %}';
            SSSLogin(login_url,console.log, console.log, console.log, console.log, console.log, function (resp) {
              window.location.replace(resp.redirect_url);
          })
        };
        });
  
      } else {
        alert('SSS missing');
      }
    }
  </script>
</head>

<body>
  <nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark">
    <div class="container justify-content-between">
      <a href="/" class="navbar-brand">SSS Auth DEMO</a>
      <ul class="navbar-nav mr-md-2">
        {% if user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="/home">ホーム</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">ログアウト</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="javascript:requestToken();">ログイン</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">登録</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <main>
    <div class="container">
      {% block main %}{% endblock %}
    </div>
  </main>
</body>

</html>